<%#= page_title "HomePage#index" %>
<% breadcrumbs.item t('home') %>

<div class="row marketing">
  <% @catalog.each do |column| %>
    <div class="col-sm-4 col-xs-12">
      <% column.each do |item| %>
        <% case item %>
        <% when Category %>
          <h4 class="text-danger"><i class="glyphicon glyphicon-home"></i> <%= item.name %></h4>
        <% when Node %>
          <% strong = "<b>" + item.title.split(" ").take(2).join(" ") + "</b>" %>
          <% cropped_sentence = item.title.split(" ")[2..-1].join(" ") %>
          <p><%= link_to (strong + " " + cropped_sentence).html_safe, item %></p>
          <!-- <p><%= (strong + " " + cropped_sentence).html_safe %></p> -->
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
