<div id="node-images-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @node.images.each_with_index do |image, i| %>
      <div class="item <%= 'active' if i == 0 %>">
        <%= image_tag image.image.thumb('520x520').url %>
      </div>
    <% end %>
  </div>

  <% if @node.images.size > 1 %>
    <ol class="carousel-indicators">
      <% @node.images.each_with_index do |_, i| %>
        <li data-target="#node-images-carousel" data-slide-to="<%= i %>" class="<%= 'active' if i.zero? %>"></li>
      <% end %>
    </ol>

    <a class="left carousel-control" href="#node-images-carousel" data-slide="prev">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#node-images-carousel" data-slide="next">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  <% end %>
</div>