<%= simple_form_for(['control', @city], html: {class: "form-horizontal"}) do |f| %>
  <%= f.input :name %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>