<%= page_title @category.name %>
<% breadcrumbs.item @category.name %>

<table class="table table-condensed node-table">
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= link_to decorate_bold(node.title).html_safe, node %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @nodes, theme: "bootstrap" %>
