<!-- Breadcrumb -->
<% if breadcrumbs.items.present? %>
  <div class="row hidden-xs">
    <div class="col-sm-7">
      <%= render "breadcrumbs/breadcrumbs" %>
    </div>
  </div>
<% end %>
<!-- /Breadcrumb -->