<div class="btn-group" id="category-selector">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    <%= @category.try(:name) || t('categories.index.categories') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <%= content_tag_for :li, Category.all do |category|%>
      <%= link_to category.name, category %>
    <% end %>
  </ul>
</div>