<!-- Footer -->
<div class="row">
  <div class="col-sm-12">
    <div class="footer">
      <ul class="list-inline">
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">Sıkça Sorulan Sorular</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- /Footer -->