<!-- Header -->
<div class="header">
  <div class="container">
    <div class="row">

      <!-- Add new -->
      <div class="header-col col-sm-3 col-xs-6 pull-right">
        <%= render 'add_new_node_button' %>
      </div>

      <!-- Brand -->
      <div class="header-col col-sm-3 col-xs-6">
        <%= render 'logo' %>
      </div>

      <div class="header-col col-sm-6 col-xs-12">
        <%= render 'city_selector' %>
        <%= render 'category_selector' %>
      </div>

    </div>
  </div>
</div>
<!-- /Header -->