<!-- Header -->
<div class="header">
  <div class="container">
    <div class="row">

      <!-- Brand -->
      <div class="header-col col-sm-12 col-xs-12">
        <%= render 'logo' %>
      </div>

    </div>
  </div>
</div>
<!-- /Header -->